.reading-page{
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 700px;
    
   
    overflow: hidden;
    .book-pages{
        background-color: white;

       
    }
}