.subscribe-page {
  .title {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 25px;
  }
  .subscribe-item {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    color: red;
  }
}
