.search-books {
    margin-top: 75px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
  
    .dropdown {
      margin-left: 10px;
      border: none;
      font-size: large;
      
    }
  
    .input {
      height: 40px;
      margin-left: 20px;
      width: 30vw;
      background-color: aliceblue;
      border-radius: 10%;
      padding: 0 10px;
    }
  }