.book {
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .menu-item {
    min-width: 30%;
    height: 350px;
    width: 250px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20%;
    overflow: hidden;

    

    &:hover {
      cursor: pointer;
      
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
  .content {
    height: 100%;
    flex-grow: 1;
    padding: 10px 0;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20%;
    border-top: none;
    background-color: white;
    opacity: 1;

    color: black;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      margin-top: 2px;
      font-size: 15px;
      color: black;

      text-align: center;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
